@font-face {
    font-family: "quirky";
    src: url("/FONTS/quirky.ttf") format(OpenType);
}

#header {
    font-family: 'quirky', serif;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 1.25rem;
}

body {
    background-color: pink;
    text-align: center;
}

span {
    background-color: green;
}