@font-face {
    font-family: "quirky";
    src: url("/FONTS/quirky.ttf") format(truetype);
}

header {
    font-family: 'quirky', sans-serif;

}

nav ul {
    background-color: white;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 1rem;
}

nav ul li a {
    text-decoration: none;
}

body {
    background-color: pink;
    text-align: center;
}

span {
    background-color: green;
}