@font-face {
    font-family: "quirky";
    src: url("quirky.ttf") format(OpenType);
}

#header {
    font-family: 'quirky', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

body {
    background-color: #fde2e4;
    text-align: center;
}
