@font-face {
    font-family: "quirky";
    src: url("quirky.ttf") format('truetype');
}

#header {
    font-family: 'quirky', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

.contentbox {
    display: flex
}

.navigation {
    background-color: white;
    list-style-type: none;
    width: 15rem;
    border-radius: 0.5rem;
}

.navigation ul li {
    text-decoration: none;
    list-style-type: none; 
}

.navigation ul li a {
    align-items: center;
    text-decoration: none;
    list-style-type: none;
    padding: 0.2rem;
}

body {
    background-color: #fde2e4;
    text-align: left;
}
.maincontent {
    margin: 1rem;
}
